<div class="main-content">
  <h1>Interview Task!!</h1>
  <h2>
    <strong>Step 1:</strong> Form has to capture the following details
    Title, Full Name, Address 1, Address 2, City, Country ZipCode, Upload Photo
    Next button</h2>
    <h2>
    <strong>Step 2: </strong>Work Experience, Company Name, From Period, To Period, Short Description
    <mark>(Form should have capability to add more companies if required)</mark>
    Back button and Submit button
    </h2>
    <div class="btn-group">
      <button class="btn-emp-form" routerLink="/emp-form">Go Emp Form</button>
    </div>
</div>
