header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #0275d8;
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    img{
      width: 27px;
      height: auto;
      filter: brightness(0) invert(1);
      cursor: pointer;
      &:hover{
        transform: scale(1.03);
      }
    }
  }
  .sep{
    flex: 1;
  }
}
