.container{
  max-width: 700px;
  width: 100%;
  background:#fff;
  padding: 30px;
  border-radius: 10px;  
  box-shadow:0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    h1{
      margin-bottom: 10px;
      padding: 0px 0 5px;  
      border-bottom: 1px solid #777;   
      display: flex;       
      align-items: center;
      gap: 10px;
      img{
        width: 27px;
        height: auto;
        cursor: pointer;
        &:hover{
          transform: scale(1.03);
        }
      }
      
  }
}
.row{
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  gap: 20px;
}
.container .frm-group{
  display:flex; 
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.container .frm-group label{
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-top: 20px;
}
.container .frm-group input[type="text"],
.container .frm-group input[type="date"],
.container .frm-group input[type="number"]{
  padding: 10px;
  width: 100%;
  height: 40px;  
  border-radius: 4px;  
  outline: 0;  
  background-color: #efefef;
  border: 1px solid #777;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
.container .frm-group textarea{
  padding: 10px;
  width: 100%;
  height: 100px;  
  border-radius: 4px;  
  outline: 0;  
  background-color: #efefef;
  border: 1px solid #777;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
.container .frm-group input[type="text"]:focus,
.container .frm-group input[type="number"]:focus,
.container .frm-group input[type="date"]:focus,
.container .frm-group textarea:focus{
  box-shadow:0 0 10px rgba(0,0,0,0.5);
}
::placeholder{
  font-size: 14px;
  font-weight: 500;
}
.btn-group{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
button{
  border:0;
  outline: 0;
  font-size: 16px;
  font-weight: 600;
  background-color: #222;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;  
  cursor: pointer;  
  flex: 1;
  transition: all ease 0.3s;
}
button:hover{
  transform: scale(1.02);
}
.company-name{
  display: flex;  
  justify-content: center; 
  gap: 10px;  
  margin-bottom: 20px;
}
.remove-icon{
  cursor: pointer;
  margin-top: 10px;
}
a.add-company{    
    background: rgb(0, 81, 255);
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 0.3s;
    i{
      margin-right: 10px;
    }    
}
a.add-company:hover{  
  transform: scale(1.3);
}

/*=============Image Upload style*/
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 10px auto 30px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 19px;
  z-index: 1;
  top: 13px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit .custom-label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #3efc78;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit .upload-image {
  background: #3efc78;
}
.avatar-upload .avatar-edit .remove-image {
  background: #E91E63;
}
.avatar-upload .avatar-edit .custom-label:hover {
  opacity: 1;
}
.avatar-upload .avatar-edit .custom-label:after {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 8px;
  right: 0;
  left: 2px;
  width: 18px;
}
.avatar-upload .avatar-edit .upload-image:after {
  content: url('../../assets/images/edit.svg');
}
.avatar-upload .avatar-edit .remove-image:after {
  content: url('../../assets/images/close.svg');
  left: 0px !important;
}
.avatar-upload .avatar-preview {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}

.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
